openapi: 3.2.0
info:
  title: Census Activations REST Destinations Sources API
  description: 'The Census Activations REST API (formerly the Census Management API, now branded

    as Fivetran Activations) provides programmatic access to manage workspaces,

    sources, destinations, models, syncs, sync runs, and segments.'
  version: 1.0.0
  contact:
    name: Census (Fivetran)
    url: https://www.getcensus.com/
servers:
- url: https://app.getcensus.com/api/v1
  description: US Census API endpoint
- url: https://app-eu.getcensus.com/api/v1
  description: EU Census API endpoint
security:
- bearerAuth: []
tags:
- name: Sources
  description: Source connections to data warehouses
paths:
  /sources:
    get:
      tags:
      - Sources
      summary: List sources
      operationId: listSources
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Paginated source list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      tags:
      - Sources
      summary: Create a source
      operationId: createSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Source'
      responses:
        '201':
          description: Source created
  /sources/{id}:
    get:
      tags:
      - Sources
      summary: Get a source
      operationId: getSource
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
    patch:
      tags:
      - Sources
      summary: Update a source
      operationId: updateSource
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Source'
      responses:
        '200':
          description: Source updated
    delete:
      tags:
      - Sources
      summary: Delete a source
      operationId: deleteSource
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Deleted
components:
  parameters:
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
  schemas:
    Source:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          description: Data warehouse type (snowflake, bigquery, databricks, redshift, postgres)
        credentials:
          type: object
        created_at:
          type: string
          format: date-time
    PaginatedList:
      type: object
      properties:
        status:
          type: string
        data:
          type: array
          items:
            type: object
        pagination:
          type: object
          properties:
            total_records:
              type: integer
            per_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            previous_page:
              type: integer
              nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace access token or organization personal access token
