# x-archived-from: census-models-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Census Activations REST Destinations Models API
  description: 'The Census Activations REST API (formerly the Census Management API, now branded

    as Fivetran Activations) provides programmatic access to manage workspaces,

    sources, destinations, models, syncs, sync runs, and segments. The API is split

    into Workspace APIs (authenticated via workspace access tokens) and Organization

    APIs (authenticated via personal access tokens). This best-effort OpenAPI is

    derived from the public documentation at

    https://fivetran.com/docs/activations/rest-api/api-reference/introduction.

    '
  version: 1.0.0
  contact:
    name: Census (Fivetran)
    url: https://www.getcensus.com/
servers:
- url: https://app.getcensus.com/api/v1
  description: US Census API endpoint
- url: https://app-eu.getcensus.com/api/v1
  description: EU Census API endpoint
security:
- bearerAuth: []
tags:
- name: Models
  description: Modeled queries that drive activations
paths:
  /models:
    get:
      tags:
      - Models
      summary: List models
      operationId: listModels
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Paginated model list
    post:
      tags:
      - Models
      summary: Create a model
      operationId: createModel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
      responses:
        '201':
          description: Model created
  /models/{id}:
    get:
      tags:
      - Models
      summary: Get a model
      operationId: getModel
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Model
    patch:
      tags:
      - Models
      summary: Update a model
      operationId: updateModel
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Models
      summary: Delete a model
      operationId: deleteModel
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Deleted
components:
  parameters:
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        minimum: 1
        maximum: 100
  schemas:
    Model:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        query:
          type: string
        source_id:
          type: integer
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace access token or organization personal access token
