# x-archived-from: census-syncruns-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Census Activations REST Destinations Sync Runs API
  description: 'The Census Activations REST API (formerly the Census Management API, now branded

    as Fivetran Activations) provides programmatic access to manage workspaces,

    sources, destinations, models, syncs, sync runs, and segments. The API is split

    into Workspace APIs (authenticated via workspace access tokens) and Organization

    APIs (authenticated via personal access tokens). This best-effort OpenAPI is

    derived from the public documentation at

    https://fivetran.com/docs/activations/rest-api/api-reference/introduction.

    '
  version: 1.0.0
  contact:
    name: Census (Fivetran)
    url: https://www.getcensus.com/
servers:
- url: https://app.getcensus.com/api/v1
  description: US Census API endpoint
- url: https://app-eu.getcensus.com/api/v1
  description: EU Census API endpoint
security:
- bearerAuth: []
tags:
- name: SyncRuns
  description: Sync executions
paths:
  /sync_runs:
    get:
      tags:
      - SyncRuns
      summary: List sync runs
      operationId: listSyncRuns
      parameters:
      - in: query
        name: sync_id
        schema:
          type: integer
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Sync run list
  /sync_runs/{id}:
    get:
      tags:
      - SyncRuns
      summary: Get a sync run
      operationId: getSyncRun
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Sync run
components:
  parameters:
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        minimum: 1
        maximum: 100
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace access token or organization personal access token
